<div class="mb-5">
    <div class="row justify-content-between align-items-center my-4 ">
        <h1 class="logo">Clube do Livro</h1>
        <h2 class="page-title">Catálogo</h2>
    </div>
    <div class="my-5">
        <img class="main-picture" src="assets/meninoLendo.svg" alt="">
    </div>

    <div class="container-fluid bg-light p-5 m-0">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Procure seus livros cadastrados">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="button" id="button-addon2">Pesquisar</button>
            </div>
        </div>
        <table class="table">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Nome do Livro</th>
                    <th scope="col">Gênero</th>
                    <th scope="col">Páginas</th>
                    <th scope="col">Formato</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editora</th>
                    <th scope="col">Edição</th>
                    <th scope="col">Ano Ed.</th>
                    <th scope="col">Ilustrador</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tenho</td>
                    <td>Harry Potter e o Prisioneiro de Askabam</td>
                    <td>Aventura</td>
                    <td>490</td>
                    <td>Digital</td>
                    <td>Stephen King</td>
                    <td>Editora Voar</td>
                    <td>1990</td>
                    <td>5</td>
                    <td>Não possui</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>