<div class="mb-5">
    <div class="row justify-content-between align-items-center my-4 ">
        <h1 class="logo">Clube do Livro</h1>
        <h2 class="page-title">Catálogo</h2>
    </div>
    <div class="my-5">
        <img class="main-picture" src="assets/meninoLendo.svg" alt="">
    </div>

    <div class="container-fluid bg-light p-5 m-0">
        <table class="table">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Nome do Livro</th>
                    <th scope="col">Gênero</th>
                    <th scope="col">Páginas</th>
                    <th scope="col">Formato</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editora</th>
                    <th scope="col">Edição</th>
                    <th scope="col">Ano Ed.</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of booksSharing">
                    <td>{{book.status}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.genre}}</td>
                    <td>{{book.pages}}</td>
                    <td>{{book.format}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.publishingCompany}}</td>
                    <td>{{book.edition}}</td>
                    <td>{{book.editionYear}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>