<div class="container-book">
    <header class="bg-header">
        <nav>
            <a routerLink="/book" routerLinkActive><img class="img-menu" src="assets/menu-livro.svg" alt=""><span class="menu-link">Livros</span></a>
            <!-- <a routerLink="/genre"><img class="img-menu" src="assets/menu-genero.svg" alt=""><span class="menu-link">Gênero</span></a> -->
            <a routerLink="/catalogue"><img class="" src="assets/menu-catalogo.svg" alt=""><span class="menu-link">Catálogo</span></a>
            <a routerLink="/sobre"><img class="img-menu" src="assets/menu-sobre.svg" alt=""><span class="menu-link">Sobre</span></a>
        </nav>
    </header>
    <div class="container-conteudo">
        <router-outlet></router-outlet>
    </div>
</div>